# This file may be used to create an environment using:
# $ conda create --name 
# platform: win-64
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
arrow-cpp
async-timeout
attrs
aws-c-auth
aws-c-cal
aws-c-common
aws-c-compression
aws-c-event-stream
aws-c-http
aws-c-io
aws-c-mqtt
aws-c-s3
aws-c-sdkutils
aws-checksums
aws-crt-cpp
aws-sdk-cpp
blas
boost-cpp
bottleneck
brotli-python
bzip2
c-ares
ca-certificates
certifi
charset-normalizer
click
colorama
dataclasses-json
datasets
dill
distro
exceptiongroup
faiss-cpu
fastapi
filelock
freetype
frozenlist
fsspec
gflags
glog
gmpy2
greenlet
h11
httpcore
httpx
huggingface_hub
idna
importlib-metadata
jinja2
jiter
joblib
jpeg
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
langsmith
lcms2
lerc
libabseil
libboost
libbrotlicommon
libbrotlidec
libbrotlienc
libcurl
libdeflate
libevent
libfaiss
libffi
libgrpc
libpng
libprotobuf
libssh2
libthrift
libtiff
libuv
libwebp-base
lz4-c
markupsafe
marshmallow
mpc
mpfr
mpmath
multidict
multiprocess
mypy_extensions
networkx
numexpr
numpy
numpy-base
openai
openjpeg
openssl
orc
orjson
packaging
pandas
pillow
pip
pyarrow
pybind11-abi
pydantic
pydantic-core
pydantic-settings
pysocks
python
python-dateutil
python-dotenv
python-tzdata
python-xxhash
python_abi
pytorch
pytz
pyyaml
re2
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
snappy
sniffio
sqlalchemy
sqlite
starlette
sympy
tbb
tenacity
threadpoolctl
tiktoken
tk
tokenizers
tqdm
transformers
typing-extensions
typing_extensions
typing_inspect
tzdata
urllib3
utf8proc
uvicorn
wheel
xxhash
xz
yaml
yarl
zipp
zlib
zstd
